# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/cpp_simulations/long_body/cmake-build-debug/
/cpp_simulations/long_body/cmake-build-debugopenmp/
/cpp_simulations/long_body/cmake-build-release/
/cmake-build-relwithdebinfo/
/cmake-build-release/
/cmake-build-minsizerel/
/cmake-build-default/
/cmake-build-debug/
/docs/html/
/docs/xml/
